{% extends "base.html" %}

{% block content %}
<div class="flashy-wrapper">

    <div id="create-deck">
        <h1 class="page-title">Create Deck</h1>
        
        <form action="{{ url_for('create_deck') }}" method="POST">
            <div class="form-group">
                <label>Deck title</label>
                <input type="text" name="name" placeholder="Enter deck name..." required class="input-field" maxlength="22">
            </div>

            <div class="form-group">
                <label>Description (optional)</label>
                <textarea name="description" placeholder="What is this deck about?" rows="3" class="input-field"></textarea>
            </div>

            <div class="form-group">
                <label>Tags (optional)</label>
                <input type="text" name="tags" placeholder="e.g. Midterm, Chapter 1, Hard" class="input-field">
                <p class="form-helper-text">Separate multiple tags with commas.</p>
            </div>

            <div class="deck-form-actions">
                <a href="{{ url_for('show_decks') }}" class="deck-cancel-btn">Cancel</a>
                <button type="submit" class="btn-save">Save Deck</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}